/* Header */
*{
  margin:0;
  padding:0;
}

body{
  background-color:#f4f4f4;
  overflow-x:hidden;
}

header{
  background: #c1dea0;
  color:#0F0;
  padding-top:30px;
  min-height:70px;
  border-bottom:#c1dea0 3px solid;

}

header .container {
  width: 100%;
}

header a{
  color:#000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-family: 'Gabriela', bold;
}

header li{
  float:left;
  display:block;
  padding: 0 10px 0 10px;
}

.dropdown {
  color:#f6469f;
}
ul li ul {
  visibility: hidden;
  position: absolute;
  transition: all 1.0s ease;
  display: none;
  min-width:5rem;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  display: block;
  z-index:9999;
  padding:2px;
  color:#f6469f;
}

ul li ul li {
  clear: both;
  width: 100%;
  padding:5px;
}



header img{
  margin-left:65px;
  width:120px;
  margin-top:-10px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#f6469f;
  font-weight:bold;
}

header .highlight, header .current a:hover{
  color:#f6469f;
  font-weight:bold;
}

header a:hover{
  color:#f6469f;
}

header .last{
  margin-right:20px;
}

html {
scroll-behavior: smooth
}

/* Modal */

.background{
height:100vh;
width:100%;
background: url("../img/kinderenverven.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position:relative;

}


.bg-modal{
  width:100%;
  height:100vh;
  background-color:black;
  position:absolute;
  top:0;
  background-color:rgba(0, 0, 0, 0.4);
  display:flex;
  justify-content:center;
  align-items: center;
}

.modal-content{
  margin-top:50px;
  width:400px;
  height:350px;
  background-image:linear-gradient(
    #c1dea0, #e6f2d9
    );
  border-radius:8px;
  text-align:center;
}

.modal-content h2{
  padding:20px;
}

.btn{
  width:300px;
  max-width:100%;
  padding: 1em 2em;
  background-color:#9fbf7b;
  border:1px solid #9fbf7b;
  font-size:16px;
  border-radius:.50em;
  font-family: 'Gabriela';
  text-shadow: 0 1px 0;
  margin-bottom:10px;
}

.btn:hover{
  cursor:pointer;
  color:#f6469f;
}

/* Animatiewerk */

#first{
  text-align:center;
  margin-top:5em;
}

.container1{
  margin-left:9em;
  margin-right:9em;
  Padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:20px;
  background:#cde4b4;
  object-fit:contain;
  text-align:center;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align:center;
}

#contact{
  text-align:center;
  padding-top:0px;
}



/* Main_col */
.paginatitel {
  text-align:center;
  font-family:'Gabriela';
  font-size: 32px;
  margin-top:30px;
}


.container1 h3{
  margin-bottom:15px;
  font-size:36px;
  font-family:'Gabriela';

}

.container1 p{
  text-align:justify;
  clear:both;
  font-family:'Gabriela';
  width:52%;
  margin:auto;
  margin-top:10px;
  margin-bottom:20px;
  font-size:18px;
  }



.container1 img{
  max-width:180px;
  width:180px;
  max-height:215px;
  margin-right:1em;

  box-shadow: 0 0 12px 0 rgba(0,0,0,.5);
  margin-bottom:15px;
}

#fotowerk {
  width:50% !important;
  max-width:50% !important;
  text-align:center;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.5);
  margin-bottom:15px;
}

#knopboeken{
  width:300px;
  max-width:100%;
  padding: 1em 2em;
  background-color:#9fbf7b;
  border:1px solid #9fbf7b;
  font-size:16px;
  border-radius:.50em;
  font-family: 'Gabriela';
  text-shadow: 0 1px 0;
  font-weight:500;
  margin:auto;
  margin-bottom:1em;

}

#knopboeken:hover{
  cursor:pointer;
  color:#f6469f;
}

#laatsteregel{
  font-size:16px;
  font-family: 'Gabriela';
  float:left;
  width:100%;
  font-style:italic;
  margin-bottom:20px;
}

blockquote{
  font-size: 16px;
  margin:auto;
  width:40%;
  font-family:'Gabriela';
  font-style:italic;
  color: #555555;
  padding:1em 30px 1em 25px;
  border-radius:25px;
  line-height:1.0;
  background:#d9eac8;
  text-align:justify;
}


blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/* Footer */

footer {
  background-color:#c1dea0;
  clear:both;
  width:100%;
  overflow:hidden;
}

#voet .box {
  width:30%;
  float:left;
  text-align:center;
  padding:15px;
}

#voet a{
  text-decoration:none;
}

#voet li{
  list-style-type:none;
}

#voet {
  font-family: 'Gabriela';
}

#voet h3 {
  margin-top:20px;
  font-size:24px;
  margin-bottom:20px;
}

#social img {
  background: #9fbf7b;
  border-radius: 25px;
  padding: 2px;
  box-shadow: 2px 2px 6px black;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin-left:10px;
}

#social img:hover {
  background: #f6469f;
  border-radius: 25px;
  padding: 2px;
  cursor:pointer;
}
#navigatie li{
}

#navigatie a{
text-decoration: none;
color:black;
font-weight:bold;
margin-bottom:10px;
}

#navigatie a:hover{
  color: #f6469f;
  cursor:pointer;
}

#navigatie h3 {
  margin-bottom:15px;
  text-align:center;
}
#contact{
  text-align:center;
}

#contact img {
  justify-content: left;
}
