/* Header */
*{
  margin:0;
  padding:0;
}

body{
  background-color:#f4f4f4;
}

header{
  background: #c1dea0;
  color:#0F0;
  padding-top:30px;
  min-height:70px;
  border-bottom:#c1dea0 3px solid;

}

header .container {
  width: 100%;
}

header a{
  color:#000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-family: 'Gabriela', bold;
}

header li{
  float:left;
  display:block;
  padding: 0 10px 0 10px;
}

.dropdown {
  color:#f6469f;
}
ul li ul {
  visibility: hidden;
  position: absolute;
  transition: all 1.0s ease;
  display: none;
  min-width:5rem;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  display: block;
  z-index:9999;
  padding:2px;
  color:#f6469f;
}

ul li ul li {
  clear: both;
  width: 100%;
  padding:5px;
}



header img{
  margin-left:65px;
  width:120px;
  margin-top:-10px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#f6469f;
  font-weight:bold;
}

header .highlight, header .current a:hover{
  color:#f6469f;
  font-weight:bold;
}

header a:hover{
  color:#f6469f;
}

header .last{
  margin-right:20px;
}


}

/* Showcase */

#showcase{
  height:400px;
  background:url('../img/showcase2.jpg') -400px;
   background-position: center;
   background-size: cover;
  text-align:center;
  color:#fff;
  background-color:#35424a;
  text-shadow:0px 2px 2px #000;

}


h1#titel{
  margin-left:65px;
  margin-top:50px;
  font-family: 'Gabriela';
  font-size:36px;
  color:black;
}

#eerstelijn {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
  margin-top:25px;
  margin-bottom:25px;
  width:50%;
  margin-left:65px;
}

#tweedelijn{
  text-align:center;
  margin-top:2em;
}

#ondertitel {
  text-align:center;
  font-family: 'Gabriela';
  font-size:32px;
  margin-top:30px;
  margin-bottom:50px;
  font-style:italic;
}
/* Body */

#main_col h2{
  margin-bottom:25px;
}
aside#sidebar{
  width:30%;
  margin-top:0;
  display:inline;
}

article#main_col{
  float:left;
  width:50%;
  margin-top:0px;
  margin-left:65px;
  margin-right:100px;
  font-family: 'Gabriela';
  letter-spacing:1.0px;
  font-size: 18px;
}

#main_col p{
  text-align:justify;
  margin-bottom:10px;
}

article p{
  text-align:justify;
}

aside#sidebar img{
  max-width:350px;
  max-height:350px;
  border-radius:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:20px;
  position:absolute;
  left:65%;
  top:35%;
}

section#main {
  min-height:385px;
}

/* Solliciteren */
#solliciteren{
  width:100%;
  margin:0 auto;
  padding-top:20px;
  background-image:linear-gradient(
    #c1dea0, #e6f2d9
    );
  text-align:center;
  position:relative;
}

#solliciteren h1{
  font-family: 'Gabriela';
  font-weight:bold;
  color:black;
  font-size:20px;
  margin-right:0px;
}

#solliciteren img{
  width:550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:1em;
  margin-bottom:3em;
}

#solliciteren button{
position: absolute;
transform: translate(-50%,-50%);
margin-right: -50%;
top: 80%;
left: 50%;
width:250px;
max-width:100%;
padding: 1em 2em;
background-color:#9fbf7b;
border:1px solid #9fbf7b;
font-size:16px;
border-radius:.50em;
font-family: 'Gabriela';
text-shadow: 0 1px 0;
}

#solliciteren button:hover{
  background-color:#f6469f;
  cursor:pointer;
}

/* Boxes */
#boxes a{
  color:black;
  text-decoration: none;
  font-size:16px;
}

#boxes h3 {
  margin-top:10px;
  margin-bottom:10px;
  font-size:28px;

}

#boxes{
  margin-top: 25px;
  font-family: 'Gabriela';
  letter-spacing: 1.1px;
  font-size: 14px;
  text-align:center;
  margin-left:50px;
}

#boxes .box{
  float:left;
  width: 30%;
  padding:15px;
  text-align:center;
  margin-bottom:20px;
}

#boxes .box img{
  width:200px;
  height:200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity:0.8;
}

#boxes .box p{
  text-align:justify;
}
/* Footer */

footer {
  background-color:#c1dea0;
  clear:both;
  width:100%;
  overflow:hidden;
}

#voet .box {
  width:30%;
  float:left;
  text-align:center;
  padding:15px;
}

#voet a{
  text-decoration:none;
}

#voet li{
  list-style-type:none;
}

#voet {
  font-family: 'Gabriela';
}

#voet h3 {
  margin-top:20px;
  font-size:24px;
  margin-bottom:20px;
}

#social img {
  background: #9fbf7b;
  border-radius: 25px;
  padding: 2px;
  box-shadow: 2px 2px 6px black;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin-left:10px;
}

#social img:hover {
  background: #f6469f;
  border-radius: 25px;
  padding: 2px;
  cursor:pointer;
}
#navigatie li{
}

#navigatie a{
text-decoration: none;
color:black;
font-weight:bold;
margin-bottom:10px;
}

#navigatie a:hover{
  color: #f6469f;
  cursor:pointer;
}

#navigatie h3 {
  margin-bottom:15px;
  text-align:center;
}
#contact{
  text-align:center;
}

#contact img {
  justify-content: left;
}
