*{
  margin:0;
  padding:0px;
}

@font-face {
  font-family: 'Valentine';
  src: url('Valentine.tff');
}
#container img{
  max-height:150px;
  max-width:150px;
  margin-left:65%;
  padding:0;
  position:absolute;
  top:15px;
  left:30px;
  width:100%;
  overflow:hidden;
}

#container{
  border:2px solid #ffccff;
  background-color:#ffccff;
}

footer{
  border:2px solid #ffccff;
  background-color:#ffccff;
}

footer img{
  margin-left:42%;
  max-width:200px;
  max-height:200%;
}

h1{
  text-align:center;
  color:#ff3333;
  padding-top:50px;
  font-size:50px;
  font-family:Valentine;
}

h2{
  text-align:center;
  margin-top:25px;
  margin-bottom:0px;
  color:#ff3333;
  margin-right:0;
  padding-right:0;
  padding-bottom:50px;
  font-family:Valentine;
}

.feiten h1{
  Font-size:25px;
  margin-bottom:50px;
}

.feiten ol {
  text-align:center;
  padding-bottom:25px;
  color:#ff3333;
  font-family:Roboto;
  font-weight:400;
}

.feiten p{
  color:black;
  font-size:20px;
  font-style:italic;
  clear:both;
  width:70%;
  display:inline-block;

}

.feiten h3{
  color:#605d5e;
  font-size:30px;
  margin-bottom:20px;
}

body{
  background-color:#fceaf3;
}

@media(max-width: 768px) {
  header,
  body,
  footer,{
    float: none;
    width: 100%;
    height:auto;

  }

 #container img{
   margin-left: 50%;
 }
