* {
  margin:0;

}

header{
margin-bottom:25px;
}
h1{
  text-align:center;
  margin-top:100px;
  padding-bottom: 0px;
}

html, body{
width:100%;
height:100%;
background-color: #e3ebe0;
padding:0;
}

footer{
  padding-bottom:50px;
  padding-top:50px;
}
.gallery{
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery_img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery_item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery_item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery_item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.button{
  text-align:center;
}

button{
  background-color:#e6ffff;
  border: 1px solid #e6ffff;
  color:black;
  font-style:bold;
  border-radius: 22px;
  height:110px;
  width:225px;
  cursor:pointer;
  box-shadow: 5px 10px;
  outline:none !important;
}

@media(max-width: 768px) {
header,
h1,
body,
.gallery,
button{
  float:none;
  width:100%;
  height:auto;
  margin-bottom: 0px;}

}



}
