*{
  margin:0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding:0;
  float:left;
  outline:none !important;
}


header{
padding-top:30px;
padding-bottom:30px;
width:100%;
margin-left:0px;
background-color:hsl(192, 19%, 89%);
}

body{
  background-color:hsl(192, 19%, 89%);
  margin:0;
  padding-right:0px;
  outline:none !important;
}

h1, h2 {
  text-align:center;
}
h1 {
  margin-bottom:20px;
  font-size:128px;
}
h2{

}

h3{
  font-size: 36px;
  text-align: center;
  padding-bottom: 30px;
}

ul{
  padding-top: 10px;
  font-size:18px;
}

#tekst{
  display:none;
}

@media(max-width: 768px){
  header,
  img,
  body,
  h1,
  h2,
  h3,{
    float:none;
    width: 100%;
}

#tekst{
width:100%;
margin:0;
}
ul{
  text-align:center;
  width:100%;
  padding:10px 0;
  margin:0;

}
}
