*{
  margin:0;
}

body {
  background-color: #ffb84d;
}

#tekst{
  text-align:center;
  margin-top:200px;
  font-size:65px;

}

.button{
  top:50%;
  position:absolute;
  border-radius: 22px;
  border:none;
  text-decoration: none;
  background-color:#f2e174;
  font-size:32px;
  padding:15px 32px;

}

#knoppen{
  text-align: center;
  margin:0;
  padding:0px;
  justify-content: center;
  display:flex;
}

.bg-modal{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.7);
  position:absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  display:none;
}

.modal-content{
  width:500px;
  height:300px;
  background-color:white;
  border-radius:4px;
  text-align:center;
  position:relative;
}
.close{
  padding:0;
  margin:0;
  position:absolute;
  top:0;
  right:14px;
  font-size:50px;
  color:black;
  transform:rotate(45deg);
  cursor:pointer;

}
