/* Header */
*{
  margin:0;
  padding:0;
}


body{
  background-color:#f4f4f4;
}

header{
  background: #c1dea0;
  padding-top:30px;
  min-height:70px;
  border-bottom:#c1dea0 3px solid;

}

header .container {
  width: 100%;
}

header a{
  color:#000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-family: 'Gabriela', bold;
}

header li{
  float:left;
  display:inline;
  padding: 0 10px 0 10px;
}

header img{
  margin-left:65px;
  width:120px;
  margin-top:-10px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#f6469f;
  font-weight:bold;
}

header .highlight, header .current a:hover{
  color:#f6469f;
  font-weight:bold;
}

header .current{
color:#f6469f;
font-weight:bold;
text-transform: uppercase;
font-family: 'Gabriela';

}
header a:hover{
  color:#f6469f;
}

header .last{
  margin-right:20px;
}

.sollicitatie{
  max-width:80%;
  float:left;
  margin-left: 65px;
  margin-top:25px;
  font-family: 'Gabriela';
  text-align:justify;

}

#boxes h3{
  margin-bottom:20px;
  font-family: 'Gabriela';
  font-size:26px;

  text-align:center;
}

#boxes p{
  text-align:justify;


}
.sollicitatie p{
  width:50%;
}

.sollicitatie h1{
  margin-bottom:10px;
}

.sollicitatie h3{
  margin-top:20px;
  margin-bottom:20px;
}

h3 a{
  color:#f6469f;
  text-decoration: none;
}

#boxes .box{
  float:left;
  width: 28%;
  padding:15px;
  text-align:center;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.5);
  margin-right:20px;
  height:545px;
  margin-bottom:5em;
}

#boxes .box img{
  height:200px;
  width:auto;
  text-align:center;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.5);
  margin-bottom:20px;
}

#boxes{
  margin-top: 25px;
  font-family: 'Gabriela';
  letter-spacing: 1.1px;
  font-size: 14px;
  margin-left:65px;

}

#wijwillen{
  font-weight:bold;
}

/* Footer */

footer {
  background-color:#c1dea0;
  clear:both;
  width:100%;
  overflow:hidden;
}

#voet .box {
  width:30%;
  float:left;
  text-align:center;
  padding:15px;
}

#voet a{
  text-decoration:none;
}

#voet li{
  list-style-type:none;
}

#voet {
  font-family: 'Gabriela';
}

#voet h3 {
  margin-top:20px;
  font-size:24px;
  margin-bottom:20px;
}

#social img {
  background: #9fbf7b;
  border-radius: 25px;
  padding: 2px;
  box-shadow: 2px 2px 6px black;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin-left:10px;
}

#social img:hover {
  background: #f6469f;
  border-radius: 25px;
  padding: 2px;
  cursor:pointer;
}
#navigatie li{
}

#navigatie a{
text-decoration: none;
color:black;
font-weight:bold;
margin-bottom:10px;
}

#navigatie a:hover{
  color: #f6469f;
  cursor:pointer;
}

#navigatie h3 {
  margin-bottom:15px;
  text-align:center;
}
#contact{
  text-align:center;
}

#contact img {
  justify-content: left;
}
