*{
  margin:0;
  padding:0;
}

body{
  background-color:#f4f4f4;
}

header{
  background: #c1dea0;
  color:#0F0;
  padding-top:30px;
  min-height:70px;
  border-bottom:#c1dea0 3px solid;

}

header .container {
  width: 100%;
}

header a{
  color:#000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-family: 'Gabriela', bold;
}

header li{
  float:left;
  display:inline;
  padding: 0 10px 0 10px;
}

header img{
  margin-left:65px;
  width:120px;
  margin-top:-10px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#f6469f;
  font-weight:bold;
}

header .highlight, header .current a:hover{
  color:#f6469f;
  font-weight:bold;
}

.current {
  color:#f6469f;
  font-weight:bold;
  font-family: 'Gabriela';
  text-transform:uppercase;
}
header a:hover{
  color:#f6469f
}

header .last{
  margin-right:20px;
}

/* Showcase */

#showcase{
  height:400px;
  background:url('../img/showcase.jpg') -400px;
   background-position: center;
   background-size: cover;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#titelenlijn{
  width:40%;
  margin-top:50px;
  margin-left:65px;
  margin-bottom:0px;
}

#titelenlijn h1{
  font-family: 'Gabriela';
  font-size:36px;
  color:black;
  margin-bottom:25px;
}

#titelentijn hr{
  width:30%;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

/* Content */

#content h2{
  margin-top:25px;
  margin-bottom:10px;
}

#main_content {
  font-family: 'Gabriela';
  margin-left:65px;
  width:40%;
  float:left;
  margin-right:100px;
  margin-bottom:50px;
}


/* Fotorol */


ul{
  list-style: none;
  font-family: 'Gabriela';\
}

.hoofd {
  font-size:18px;
  margin-bottom:5px;
  font-weight:bold;
}

.sub {
  font-size:16px;
  margin-bottom:10px;
  text-align:justify;
}

#aside {

}
aside{
  width:40%;
  float:left;
  height:512px;
  margin-top:66px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom:75px;
  grid-gap:5px;
}

aside img{

  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 10px;
}


.gallery_item--1{
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:3;
  grid-row-end:5;
}
.gallery_item--5{
  grid-column-start:3;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:3;
}

.gallery_item--4{
  grid-column-start:3;
  grid-column-end:5;
  grid-row-start:3;
  grid-row-end:5;
}

.gallery_item--3{
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:3;
}

#programma{
  background-image:linear-gradient(
    #c1dea0, #e6f2d9
    );
  float:left;
  width:100%;
}

#programma h1{
  margin-top:0.8em;
  margin-left:65px;
  font-family: 'Gabriela';
}

#programma img{
  margin-left:65px;
  margin-top:20px;
  max-width:400px;
  margin-bottom:50px;
  float:left;
  max-width:400px;
  max-height:269px;
}

#programma img:hover{
  transform: scale(2.0);
  margin-left:200px;
  -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -ms-transition: all 1s ease;
 transition: all 1s ease;
}

#overanimatie{
  margin-left:65px;
  font-family: 'Gabriela';
  float:left;
  width:40%;
  text-align:justify;
  margin-bottom:20px;
  margin-right: 200px;
  max-width:40%;
}

#overanimatie h2{
  margin-bottom:10px;
  margin-top:10px;
}

#laatstezin{
  font-weight:bold;
  font-size:20px;
}

#benjij{
  font-style:italic;
  font-size:18px;
}

#linkvacatures{
  color:#9cca68;
}

#linkvacatures:hover{
  cursor:pointer;
}

#quotes{
  float:left;
  text-align:center;
  max-width:30%;

}

#quotes img{
  margin-top:50px;
  max-width:300px;
  height:auto;
  vertical-align: middle;
  border-radius: 10px;
}

#quotes q{
  float:left;
  margin-top:1em;
  font-family: 'Gabriela';
  font-style: italic;
  font-size: 18px;
  margin-bottom:50px;
  line-height: 1em;
}

#quotes q:before{
  color:#c1dea0;
  font-size:32px;
  margin-right:3px;
}

#quotes q:after{
  color:#c1dea0;
  font-size:32px;
  margin-left:3px;
}

#quotes p{
  margin-bottom:10px;
}

/* Footer */

footer {
  background-color:#c1dea0;
  clear:both;
  width:100%;
  overflow:hidden;
}

#voet .box {
  width:30%;
  float:left;
  text-align:center;
  padding:15px;
}

#voet a{
  text-decoration:none;
}

#voet li{
  list-style-type:none;
}

#voet {
  font-family: 'Gabriela';
}

#voet h3 {
  margin-top:20px;
  font-size:24px;
  margin-bottom:20px;
}

#social img {
  background: #9fbf7b;
  border-radius: 25px;
  padding: 2px;
  box-shadow: 2px 2px 6px black;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin-left:10px;
}

#social img:hover {
  background: #f6469f;
  border-radius: 25px;
  padding: 2px;
  cursor:pointer;
}
#navigatie li{
}

#navigatie a{
text-decoration: none;
color:black;
font-weight:bold;
margin-bottom:10px;
}

#navigatie a:hover{
  color: #f6469f;
  cursor:pointer;
}

#navigatie h3 {
  margin-bottom:15px;
  text-align:center;
}
#contact{
  text-align:center;
}

#contact img {
  justify-content: left;
}
