footer {
  background-color: #c1dea0;
  padding: 20px 0px 20px 0px;
  min-height: 190px;
}

footer .contact {
  width: 33%;
  float: left;

  padding-left: 10px;
}

footer .navigation {
  float: left;
}

footer .navigation ul {
  list-style-type: none;
}

footer .navigation ul li a {
  color: #fff;

  text-decoration: none;
}

footer .social {
  width: 33%;
  float: right;
}

footer .social img {
  background: #9fbf7b;
  border-radius: 25px;
  padding: 2px;
  box-shadow: 2px 2px 6px black;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

footer .social img:hover {
  background: #f6469f;
  border-radius: 25px;
  padding: 2px;
}

footer .copyright {
  padding-right: 5px;

  text-align: right;

  color: #fff;

  font-size: 12px;
}

footer h3 {
  color: #f6469f;
}

footer a {
  color: #fff;
}

@media(max-width:768px){
  float-none;
  text-align:center;
  width:100%;
}
